/*pour le bouton*/
.custom-button {
  background: none;
  border: 2px solid #fff;
  padding: 10px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.2em;
  transition: all 0.3s ease;
}

.custom-button:hover {
  background: #ff5e5e; /* Une couleur vive pour le feedback */
  color: white;
  border-color: #ff5e5e;
}