/*pour le bouton style charly Brown*/

.reset-btn {
  background: #ffcc00; 
  border: 2px solid #333;
  padding: 10px 25px;
  border-radius: 8px;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.1em;
  transition: transform 0.2s;
}

.reset-btn:hover {
  transform: scale(1.05);
  background: #ffdb4d;
}